/*global styles*/
div {
  margin: 0;
  padding: 0;
}
/*nav*/
.homeNav {
width: 95%;
margin: 0 auto;
background-color: yellow;
}
/*header*/
.header {
width: 95%;
margin: 0 auto;
background-color: blue;
}
/*main content part 1 and 2*/
.pageContainer {
width: 90%;
margin: 0 auto;
background-color: red;
}
/*main content part 1*/
.mainContainer1 {
width: 90%;
margin: 0 auto;
background-color: green;
}
.minorContainer1 {
width: 90%;
margin: 0 auto;
background-color: pink;
}
/*box containers*/
.containerBoxes1  {
width: 25%;
margin: 0 auto;
background-color: purple;
display: inline-block;
}
/*main content part 2*/
.mainContainer2 {
width: 90%;
margin: 0 auto;
background-color: green;
}
.minorContainer2 {
width: 90%;
margin: 0 auto;
background-color: pink;
}
.minorContainer3 {
width: 90%;
margin: 0 auto;
background-color: pink;
}
.containerBoxes2  {
width: 35%;
margin: 0 auto;
background-color: purple;
display: inline-block;
}
.footer {
  width: 95%;
  margin: 0 auto;
  background-color: grey;
}